<div class="d-flex flex-row justify-content-between">
    <a class="category-second" id="boy-category" href="#">
        <span class="title">KLUČIČÍ<br />BOTY</span>
        <img src="~/img/category/boy-category.png" />
    </a>
    <a class="category-second" id="girl-category" href="#">
        <span class="title">DÍVČÍ BOTY</span>
        <img src="~/img/category/girl-category.png" />
    </a>
    <a class="category-second" id="how-category" href="#">
        <span class="title">JAK SPRÁVNĚ<br />VYBRAT?</span>
        <img src="~/img/category/how-to-category.png" />
    </a>
</div>