@using System.Collections.Specialized
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootEshop</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/boots_eshop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/var.css" />
    <link rel="stylesheet" href="~/css/common/common.css" />
    <link rel="stylesheet" href="~/css/features/product.css" />
    <link rel="stylesheet" href="~/css/common/global-asp.css" />
    <link rel="stylesheet" href="~/css/common/separator.css" />
    <link rel="stylesheet" href="~/css/cart/popup.css" />
    @await RenderSectionAsync("Styles", required: false)
    <script src="https://kit.fontawesome.com/3db67ba0a9.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/cart/cart-popup.js" defer="defer"></script>
    <script src="~/js/product/product-item.js" defer="defer"></script>


</head>
<body class="background-color-base">
<header>
    <div class="d-flex gap-3 flex-column mb-5">
        <partial name="Partials/Header/_LoginBar"/>
        
        <div class="px-main d-flex flex-row justify-content-between align-items-center">
            <img src="img/logo.png" alt="logo" class="logo">
            <partial name="Partials/Header/_ControlBar"/>
        </div>
        <div class="px-main">
            <partial name="Partials/Header/_NavBar"/>    
        </div>
        
    </div>

</header>

<main role="main" >
    <div class="px-main">
        @RenderBody()    
    </div>
    
</main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BootEshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
