.text-input {
    border-radius: var(--border-radius-primary);
    border: 0.3rem solid var(--color-light);
    height: 3rem;
    width: 100%;
}

.text-input:focus {
    border-color: var(--color-primary);
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}