main > div {
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin-bottom: 50px;
}
main > div > div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}
main > div > div {
    flex: 1;
    background-color: lightblue;
    overflow: hidden;
}
main form {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.text-input {
    flex: 1;
    color: var(--color-accent-primary);
    font-size: var(--font-size-base);
    background-color: var(--color-base);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: 1px solid var(--color-accent-terciary);
}
.text-input::placeholder {
    color: var(--color-accent-terciary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}

form > h1 {
    font-size: 70px;
    color: var(--color-accent-primary);
    margin: 0;
}
form > span {
    font-size: var(--font-size-base);
    color: var(--color-accent-primary);
    margin-bottom: 30px;
}
form label {
    color: var(--color-accent-primary);
    font-size: var(--font-size-base);
    display: flex;
    flex-flow: column;
    gap: 5px;
    flex: 1;
}

.credential .err {
    display: none;
}

.credential:has(input:invalid) .err {
    display: inline;
    color: var(--color-accent-secondary);
}

#name-surname {
    flex: 1;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
#country {
    color: var(--color-accent-primary);
}

.radio-label > div {
    display: flex;
    flex-flow: row;
}
.radio-label label {
    flex-flow: row;
    align-items: center;
}

input[type="radio"] {
    accent-color: var(--color-accent-primary); /* Your desired color */
    width: 18px;
    height: 18px;
}

form button {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    border: solid var(--color-accent-secondary) 2px;
    padding: 20px;
    cursor: pointer;
}
form button h1 {
    margin: 0;
    font-size: 60px;
}
form button span {
    font-size: var(--font-size-base);
}

form .continue-btn {
    background-color: var(--color-accent-secondary);
    color: var(--color-base);
}

form .back-btn {
    background-color: var(--color-base);
}
form .back-btn h1 {
    color: var(--color-accent-secondary);
}
form .back-btn span {
    color: var(--color-accent-primary);
}
form .buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 50px;
}

@media screen and (width < 1200px) {
    main > div > div {
        display: none;
    }
    main {
        align-items: center;
    }
    main > div {
        flex: none;
        width: calc(100% - 60px);
    }
    #name-surname {
        flex-flow: column;
    }
    .radio-label > div {
        gap: 20px 100px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
