
<div class="d-flex flex-row gap-2">
    <div class=" search-panel d-flex flex-row align-items-center border border-2 border-color-dark">
        <a class="d-flex align-items-center text-decoration-none">
            <i class="fa-solid fa-magnifying-glass color-dark"></i>
        </a>
        <input
            type="search"
            name="search"
            class="search-input color-dark"
            placeholder="Vyhledat zboží..."/>
    
    </div>
    
    <a asp-action="Index" asp-controller="Cart">
        <i class="fa-solid fa-cart-shopping color-dark"></i>
    </a>
    <a href="#">
        <i class="fa-solid fa-heart color-dark"></i>
    </a>
</div>