<div class="header-container d-flex flex-row justify-content-between px-main
color-base background-color-primary fs-5">
    <div class="d-flex flex-row gap-1">
        <a href="tel:+420777666555" class="text-decoration-none color-base">
            <i class="fa-solid fa-phone"></i>
            <span class="dialing-code">+420 </span>
            777 666 555
        </a>
        |
        <a href="mailto:info@nejlepsiboty.cz" class="text-decoration-none color-base">
            info@nejlepsiboty.cz
        </a>
        
    </div>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-controller="Account" asp-action="Logout" class="text-decoration-none color-base">
            <span>Odhlásit se</span>
        </a>    
    }
    else
    {
        <a asp-action="Login" asp-controller="Account" class="text-decoration-none color-base">
            <i class="fa-solid fa-user color-base"></i>
            <span>Přihlásit se</span>
        </a>
    }
    
</div>