.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    gap: 1rem;
    justify-content: left;
}


.product-item {
    display: flex;
    flex-direction: column;
    outline: var(--color-dark) solid 0.2rem;
    border-radius: var(--border-radius-primary);
}
.product-item:hover {
    outline-color: var(--color-accent);
    outline-width: 0.4rem;
    transition: 0.3s;
    cursor: pointer;
}


.product-item-prices {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.product-item-desc {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}



.openAddCart {
    width: 3rem;
    height: auto;
    visibility: hidden;
}
.product-item:hover .openAddCart {
    visibility: visible;
}
.openAddCart:hover {
    color: var(--color-accent)!important;
    transition: 0.3s;
}





